#index{
  margin-top: 50px;
}
img#logo-index{
  margin-top: 100px;
}
.index-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#h1-index{
  font-family: DM Serif Display;
  display: block;
  color: rgb(59, 59, 59);
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

#h2-index{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: 200;
  font-family: "Roboto", sans-serif;
  font-variation-settings: "wght" 200;
  margin-bottom: 15px;
  margin-top: 0;
  width: 100%;
}



#start {
  background-color: #FFBC2C;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight:900;
  text-decoration: none;
  font-variation-settings: "wght" 600;
  margin-top: 80px;
  padding: 12px 80px;
  border: none;
  outline: none;
  font-size: 22px;
  border-radius: 8px;
  cursor: pointer;
}

#start:hover {
  background-color: #7c7c7c;
}


